<form nz-form [formGroup]="validateForm" [nzLayout]="'inline'" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Gelieve een bedrag tussen 10 en 100 euro in te geven">
        <nz-input-number-group nzPrefix="€">
            <nz-input-number formControlName="amount" name="first" [nzPrecision]="2" ></nz-input-number>
          </nz-input-number-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <input nz-input formControlName="description" name="description" placeholder="description" />
    </nz-form-item>
    <nz-form-item>
      <nz-form-control> 
        <button nz-button nzType="primary">Betaal</button>
      </nz-form-control>
    </nz-form-item>
  </form>

    
